/* ex 7 pag 66*/

.container {
  color: red;
  border: 1px solid blue;
}
.inherite {
  color: inherit;
  border: inherit;
}

.initial{
  color: initial;
  border: initial;
}

.unset{
  color: unset;
  border: unset;
}
